@import '../../../colors';
@import '../../../breakpoints';

.title {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  color: $color-dark-navy;
}

@media screen and (min-width: $breakpoint-md) {
  .title {
    font-size: 48px;
    text-align: left;
  }
}