@import '../../../../colors';
@import '../../../../breakpoints';

.section {
  & > h3 {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .howItWorks, .safeDriving {
    display: grid;
    gap: 32px;
    
    h3 {
      font-size: 28px;
    }

    h4 {
      text-align: left;
    }
  }

  .howItWorks {
    margin-bottom: 64px;
  }
  
  .questions {
    display: grid;
    gap: 24px;
    
    .question {
      display: grid;
      padding: 36px;
      background: #F2F5F9;
      
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        
        svg {
          font-size: 24px;
          color: $color-yellow;
          transition: all .3s;
          
          &.active {
            transform: rotate(180deg);
          }
        }
      }
      
      .text {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .3s ease-in-out;
        
        &.active {
          grid-template-rows: 1fr;
        }
        
        p {
          overflow: hidden;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .section {
    .howItWorks, .safeDriving {
      grid-template-columns: repeat(2, 1fr);
    }

    .howItWorks {
      margin-bottom: 0;
    }
  }
}